#Container {
    height:auto;
}
#Header {
    border-bottom:solid;
    height:140px;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #C0C0C0), color-stop(1, #404040) );
	background:-moz-linear-gradient( center top, #C0C0C0 5%, #404040 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b0a9b0', endColorstr='#ededed');
    background-color:#404040;
}
#button {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}
#ContentPlaceHolder {
    margin: 10px auto;
    width:800px;
    border:solid;
    border-width:1px;
    border-radius: 15px;
    vertical-align:middle;
}
#footer {
    text-align: center;
    margin: 10px auto;
    width:800px;
}